body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

h1 {
  font-family: 'Fascinate', cursive;
  color: white;
  font-size: 60px;
  margin: 0;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

title {
  text-align: center;
  font-size: 30px;
}

.imagegroup {
  width: 48%;
  color: #fff;
  display: inline-block;
  padding-bottom: 30px;
  text-align: center;
  font-style: italic;
  position: relative;
}

.gallery {
  width: 85vw;
  margin: 0 auto;
}

.leftside {
  float: left;
  width: 33%;
}

.middle {
  width: 33%;
  float: none;
}

.rightside {
  float: right;
  width: 33%;
}

.text {
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.welcome {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 400px;
  margin-left: 400px;
  background-color: #808000;
  box-shadow: 5px 10px;
}

.description {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 400px;
  margin-left: 400px;
  background-color: #808000;
  box-shadow: 5px 10px;
}

a:visited {
  text-decoration: none;
  color: white;
}

/* navigation */
footer {
  color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 30px;
  font-size: 2em;
  text-align: center;
  left: -20px;
  font-family: 'Oswald', sans-serif;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.effect:hover {
  color: #006400;
  transition: 0.5s;
  text-decoration: none;
}

/* Image Gallery */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  padding: 40px 0;
}

figure {
  max-width: 800px;
  margin: 0 auto 40px;
  border: 2px solid #fff;
}

figure img {
  max-width: 100%;
  min-width: 100%;
  display: block;
}

.thumb_img_list {
  text-align: center;
}

.thumb_img_list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.thumb_img_list ul li {
  display: inline-block;
  border: 1px solid #fff;
  width: 100px;
  margin: 0 5px;
  cursor: pointer;
}

.thumb_img_list ul li img {
  display: block;
}

/* Tilt Hover Effect */
.container2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  transform-style: preserve-3d;
}

.container2 .box {
  position: relative;
  width: 450px;
  height: 300px;
  margin: 60px 0;
  background: #000;
  background: #000;
  transform-style: preserve-3d;
}

.container2 .box:hover {
  box-shadow: 0 50px 80px rgba(0, 0, 0, .2);
}

.container2 .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container2 .box .contentBx {
  position: absolute;
  top: 50%;
  left: 50px;
  right: 50px;
  background: #fff;
  transform: translateZ(20px) scaleY(0);
  padding: 40px 25px;
  transform-origin: top;
  transition: 0.5s;
  transform-style: preserve-3d;
}

.container2 .box:hover .contentBx {
  transform: translate(30px) scaleY(1);
}

/* ID's */
#Disneyland {
  border-radius: 50%;
}

#Griffith {
  border-radius: 50%;
}

#Santa {
  border-radius: 50%;
}

#background {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -999;
}
